<nav class="navbar navbar-expand-lg" style="background-color: #2a64e8">
  <div class="container px-4">
    <a
      class="navbar-brand d-flex align-items-center text-white fw-semibold"
      href="#"
    >
      <a
        class="navbar-brand d-flex align-items-center text-white fw-semibold"
        href="/"
      >
        <img src="/images/logo.png" alt="" style="width: 50px" />
        Objekpedia
      </a>
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mb-2 mb-lg-0 fw-semibold">
        <% category.forEach((item) => { %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/kategori/<%= item.id_cat%>"
            ><%= item.nama %></a
          >
        </li>
        <% }); %>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login"
            >Log in</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
