<div class="container">
  <ul>
    <li class="list-none">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Stories</a>
    </li>
  </ul>
</div>
