<%- include('../../partials/master/create/_head') %>

    <main class="flex-grow-1 p-4 bg-white">
        <!-- <nav aria-label="breadcrumb" class="breadcrumb-custom mb-3 d-flex align-items-center">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item d-flex align-items-center">
                    <i class="fas fa-box me-1 text-secondary"></i>
                    <a href="#" class="text-primary">Dashboard</a>
                </li>
                <li class="breadcrumb-item text-primary">&gt;</li>
                <li class="breadcrumb-item text-primary">Object</li>
                <li class="breadcrumb-item text-primary">&gt;</li>
                <li class="breadcrumb-item text-primary">Buah</li>
                <li class="breadcrumb-item text-secondary">&gt;</li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav> -->
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
            <h1 class="text-primary fs-4 fw-normal m-0">Edit Category</h1>
            <div>
                <button type="button" class="btn btn-secondary me-2">
                    <i class="fas fa-arrow-left me-1"></i> Back
                </button>
            </div>
        </div>

        <section class="form-section">
            <div class="form-header">
                <i class="fas fa-plus-circle me-2"></i> Category Information
            </div>
            <div class="form-body">
                <form action="/master/category/update/<%= id %>" method="post">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <div class="mb-8">
                                <label for="namaBuah" class="form-label required-field">Category Name</label>
                                <input value="<%= nama %>" name="nama" type="text" class="form-control" id="namaBuah"
                                    placeholder="Enter category name" required />
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2 mt-4">
                        <button type="reset" class="btn btn-secondary">
                            <i class="fas fa-undo me-1"></i> Reset
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-1"></i> Edit
                        </button>
                    </div>

                </form>
            </div>
        </section>
    </main>
    <%- include('../../partials/master/create/_foot') %>