<header class="topbar d-flex align-items-center">
    <div class="logo">
        <i class="fas fa-swirl"></i>
        cApp Admin
    </div>
    <div class="top-icons d-flex align-items-center ms-auto">
        <button>
            <div class="user-info d-flex align-items-center ms-3">
                <div class="text">
                    <div>Welcome,</div>
                    <div class="d-flex align-items-center">
                        Jason <i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>
    </div>
</header>
<div class="d-flex">
    <nav class="sidebar d-flex flex-column pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active d-flex align-items-center" href="/master">
                    <i class="fas fa-palette me-2"></i> Dashboard
                </a>
            </li>
            <!-- <li class="nav-item border-top pt-2">
                <a class="nav-link d-flex align-items-center justify-content-between" data-bs-toggle="collapse"
                    href="#usersSubmenu" role="button" aria-expanded="true" aria-controls="usersSubmenu">
                    <span><i class="fas fa-user-friends me-2"></i>Users</span>
                    <i class="fas fa-chevron-down text-secondary"></i>
                </a>
                <div class="collapse show submenu" id="usersSubmenu">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active text-orange-500 d-flex align-items-center" href="#">
                                <i class="fas fa-caret-right me-1"></i> All Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add User</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <li class="nav-item border-top pt-2">
                <a class="nav-link d-flex align-items-center" href="/master/category">
                    <i class="fas fa-th-large me-2"></i> Categories
                </a>
            </li>

            <li class="nav-item border-top pt-2">
                <a class="nav-link d-flex align-items-center" href="/master/object">
                    <i class="fas fa-box me-2"></i> Products
                </a>
            </li>
            <li class="nav-item border-top border-bottom pt-2 pb-2 text-center text-secondary">
                <i class="fas fa-angle-double-left"></i>
            </li>
        </ul>
    </nav>