<li class="nav-item border-top pt-2">
    <a class="nav-link d-flex align-items-center" href="/master/category">
        <i class="fas fa-th-large me-2"></i> Categories
    </a>
</li>

<li class="nav-item border-top pt-2">
    <a class="nav-link d-flex align-items-center" href="/master/object">
        <i class="fas fa-box me-2"></i> Object
    </a>
</li>
<li class="nav-item border-top border-bottom pt-2 pb-2 text-center text-secondary">
    <i class="fas fa-angle-double-left"></i>
</li>
</ul>
</nav>